/*

  Switch Tabs Styles 
  + Tim Green
  otter.timgreen.xyz

*/

.switchingTabs {
  height: 34px;
  background-color: var(--white);
  border-radius: 20px;
  padding: 2px;
  margin-top: 45px;
  .tabItems {
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: var(--black);
      font-size: 14px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color ease 0.3s;
      &:hover{
        background: var(--otter-black);
        color: var(--otter-yellow);
        border-radius: 15px;
        transition: ease-in-out 1ms;
        font-weight: 600;
      }
      &.active {
        color: var(--otter-black);
        font-weight: 600;
        &:hover{
          background: var(--otter-black);
          color: var(--otter-yellow);
          border-radius: 15px;
        }
      }
      
    }
    .movingBg {
      height: 30px;
      width: 100px;
      border-radius: 15px;
      background-color: var(--otter-yellow);
      position: absolute;
      left: 0;
      transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
    }
  }
}
